.social-login
    span.social-login__span or
    button.social-login--github
        span
            i.fab.fa-github
        |Continue with Github
    button.social-login--facebook
        span
            i.fab.fa-facebook-square
        |Continue with Facebook