extends layouts/main

block content
    .form-container
    form(action=routes.editVideo(video.id), method="post")
        input(type="text", name="title", placeholder="New Title", value=video.title)
        textarea(name="description", placeholder="New Description",)=video.description
        input(type="submit", value="update Video")
    a.form-container___link.form-container__link--delete-video(href=routes.deleteVideo(video.id)) Delete Video
